<p style="color: green"><%= notice %></p>

<%= render @brewer %>

<div class="row align-items-center">
<div class="col">
  <a href="<%= edit_brewer_path(@brewer) %>" class="link-info">
  <i class="bi bi-pencil-square"></i> Edit this brewer</a>
  </div>
  <div class="col">
  <a href="<%= brewers_path %>" class="link-success">
    <i class="bi bi-arrow-left"></i> Back to brewers 
  </a>
  </div>
  <div class="col">
  <%= link_to "Destroy this brewer", @brewer, method: :delete, class:"link-warning" %>
  </div>
  </div>

<h2>Add score_sheet</h2>


<%= form_with model: [ @brewer, @brewer.score_sheets.build] do 
  |form| %>
  <p>
    <%= form.label :category %><br />
    <%= form.text_field :category %>
  </p>
  <p>
    <%= form.label :score %><br />
    <%= form.text_field :score %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>Score Sheets</h2>

<table>
<tr>
  <th>Category</th>
  <th>Score</th>
</tr>
<%= @brewer.score_sheets.each do |score_sheet| %>
  <tr>
    <td><%= score_sheet.category %></td>
    <td><%= score_sheet.score %></td>
  </tr>
<% end %>
</table>

<%= render @brewer.score_sheets %>