<p style="color: green"><%= notice %></p>

<%= render @brewer %>

<br>
<div class="row align-items-center col-6"">
  <div class="col">
    <a href="<%= brewers_path %>" class="link-success">
      <i class="bi bi-arrow-left"></i> Back to brewers 
    </a>
  </div>
  <div class="col">
    <a href="<%= edit_brewer_path(@brewer) %>" class="link-info">
    <i class="bi bi-pencil-square"></i> Edit this brewer</a>
  </div>
  <div class="col">
    <a href="<%= brewer_path(@brewer) %>" data-method="delete" class="link-warning">
    <i class="bi bi-trash"></i> Delete this Brewer</a>
  </div>
</div>
<br>


<%= form_with model: [ @brewer, @brewer.score_sheets.build] do 
  |form| %>
  <div class="card col-6">
    <div class="card-header">Add Score Sheet</div>
    <div class="card-body">
      <p>
        <%= form.label :category %><br />
        <%= form.text_field :category %>
      </p>
      <p>
        <%= form.label :score %><br />
        <%= form.text_field :score %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    </div>
  </div>
<% end %>
<br>
<div class="card col-6" id="score_sheets">
  <div class="card-header">Scores</div>
  <div class="card-body">
    <a href="#" class="card-link">Add Score?</a>
    <table>
      <tr>
        <th>Category</th>
        <th>Score</th>
      </tr>
      <%= render @brewer.score_sheets %>
  </div>
</div>